
<div *ngIf="identity">
    <h2><span>Identity</span> {{identity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Identity Name</span></dt>
        <dd>
            <span>{{identity.identityName}}</span>
        </dd>
        <dt><span>Identity Password</span></dt>
        <dd>
            <span>{{identity.identityPassword}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{identity.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'identity/'+ identity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
